.mastodon-embed {
  background-color: #33313e;
  border-radius: 0.25rem;
  color: white;
  font-family: sans-serif;
  padding: 0.5rem;
}

.mastodon-embed > * + * {
  margin-top: 1rem;
}

.mastodon-embed__header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.mastodon-embed__header img {
  border-radius: 0.25rem;
  height: 2.875rem;
  width: 2.875rem;
}

.mastodon-embed__profile-information > * {
  line-height: 1.2;
}

.mastodon-embed :any-link {
  text-decoration: none;
  color: currentColor;
}

.mastodon-embed :any-link:focus-visible,
.mastodon-embed :any-link:hover {
  text-decoration: underline;
}

.mastodon-embed__display-name {
  font-weight: bold;
}

.mastodon-embed__account-name {
  color: rgb(174, 160, 201);
  font-size: smaller;
}

.mastodon-embed__content :any-link {
  color: #6bc1ff;
}

.mastodon-embed__content .ellipsis::after {
  content: '…';
}

.mastodon-embed__content .invisible {
  display: none;
}

.mastodon-embed__footer {
  color: rgb(174, 160, 201);
  display: inline-flex;
  font-size: smaller;
  gap: 0.5rem;
}

.mastodon-embed__has-icon {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
  min-width: 0.66rem;
}

.mastodon-embed__has-icon.-is-icon-public {
  --icon-name: url('/img/mastodon-embed-plugin/mep-globe.svg');
}

.mastodon-embed__has-icon.-is-icon-unlisted {
  --icon-name: url('/img/mastodon-embed-plugin/mep-unlock.svg');
}

.mastodon-embed__has-icon.-is-icon-replies {
  --icon-name: url('/img/mastodon-embed-plugin/mep-reply.svg');
}

.mastodon-embed__has-icon.-is-icon-reblogs {
  --icon-name: url('/img/mastodon-embed-plugin/mep-repeat.svg');
}

.mastodon-embed__has-icon.-is-icon-favs {
  --icon-name: url('/img/mastodon-embed-plugin/mep-star.svg');
}

.mastodon-embed__has-icon::before {
  background-image: var(--icon-name);
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 0.66rem;
  width: 0.66rem;
}

.mastodon-embed__card {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.mastodon-embed__card-image {
  aspect-ratio: 1;
  background-color: #5a5f6f;
  background-image: url('/img/mastodon-embed-plugin/mep-file-lines.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  overflow: hidden;
  flex: 1 0 6.25rem;
}

.mastodon-embed__card-image img {
  aspect-ratio: inherit;
  display: block;
  object-fit: cover;
}

.mastodon-embed__card.-no-image .mastodon-embed__card-image {
  aspect-ratio: 1;
}

.mastodon-embed__card-title {
  font-weight: bold;
}

.mastodon-embed__card-link::after {
  content: '';
  inset: 0;
  position: absolute;
}

.mastodon-embed__card-description {
  display: var(--pme-description-display, none);
  font-size: smaller;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--pme-description-width);
}
